*{
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-family: Roboto;
}

#search{
    height: 2em;
}

#logo{
    width:120px;
    height:120px;
}
.header_image{
    /* background-image: url("../Приложение/sopyt-tovar2.jpg"); */
    background-repeat: none;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25%;
    padding: 150px;
}

@media (min-width: 576px) {  }